{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "overrides": [
        {
            "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
            "rules": {
                "import/no-anonymous-default-export": "off"
            }
        }
    ]
}
