body {
    overflow-x: hidden;
}

.about-us-container {
    &::before {
        content: "";
        position: fixed;
        padding: 0 24px;
        top: -150px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .about-us-content {
        width: 100%;
        font-size: 24px;
        line-height: 42px;
    }

}
